/* layout.component.scss */
.layout-container {
  display: grid;
  height: 100vh;

  /* 2 colonnes : 250px pour la sidebar, le reste pour le contenu */
  grid-template-columns: 250px 1fr;

  /* 3 lignes : header, contenu principal, footer */
  grid-template-rows: auto 1fr auto;

  /* on nomme les zones pour plus de clarté */
  grid-template-areas:
    "sidebar header"
    "sidebar main"
  
    "sidebar footer";
}

app-sidebar {
  grid-area: sidebar;
  background-color: #1f2937;
  color: #fff;
  /* full height = déjà géré par la grille */
}

app-header {
  grid-area: header;
  background-color: #374151;
  color: #fff;
  padding: 0.2rem 0.9rem;
}

.layout-main {
  grid-area: main;
  overflow-y: auto;
  
  
}




