<div class="payment-banner">
  <div class="container">
    <div class="payment-icons">
      <img src="assets/images/payment/google.png" alt="Google Pay" class="payment-icon">
      <img src="assets/images/payment/binance.webp" alt="Binance Pay" class="payment-icon">
      <img src="assets/images/payment/visaandm.png" alt="Visa-MasterCard" class="payment-icon">
      <img src="assets/images/payment/neteller.png" alt="Neteller" class="payment-icon">
      <img src="assets/images/payment/NeoSurf.png" alt="GCash" class="payment-icon">

    </div>
  </div>
</div>
