/* Layout principal */
.layout-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* La section prend toute la hauteur de la fenêtre */
}

/* Le header doit être en haut, il ne change pas */
app-main-header {
  flex-shrink: 0; /* Assurez-vous que le header ne rétrécit pas */
}

/* Le contenu principal (router-outlet) prend l'espace restant */
.layout-main > router-outlet {
  flex-grow: 1; /* Le contenu dynamique du router-outlet occupe tout l'espace restant */
}

/* Le footer reste en bas */
app-main-footer {
  flex-shrink: 0; /* Le footer ne rétrécit pas */
}
